[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/OAkyildiz/vision_opencv.git
[submodule "src/geometry2"]
	path = src/geometry2
	url = https://github.com/Tao-wecorp/geometry2
[submodule "src/tello_python"]
	path = src/tello_python
	url = https://github.com/dji-sdk/Tello-Python
